<div class="row"> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpg" 
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <p id="nombre">Mauro Hernan Valicente</p>
        <p>Licenciado y Profesor en Música - Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mí</h1>
        <p> Soy Profesor y Licenciado en Música por la Facultad de Artes, UNLP. Mis intereses
            estan asociados a la docencia e investigación en música. Actualmente me encuentro
            realizando el curso Argentina Programa para convertirme en Desarrollador Web Full Stack Junior</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" imagen1>
            <a href="https://unlp.edu.ar/"><img src="../../../assets/logo UNLP.png" 
                class="img-fluid" id="logo UNLP"></a> 
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" imagen2>
                    <a href="https://fba.unlp.edu.ar/"><img src="../../../assets/logo FDA.png" 
                        class="img-fluid" id="logoFDA"></a> 
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" imagen3>
                            <a href="https://leem.fba.unlp.edu.ar/"><img src="../../../assets/logo-LEEM2.png" 
                                class="img-fluid" id="logo-LEEM2"></a> 
                            </div>


