<div>
    <a href="https://www.linkedin.com/feed/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
    <a href="https://twitter.com/MauroValicente"><img src="../../../assets/twitter.png" id="twitter"></a>
    <a href="https://www.instagram.com/mauro_hv/"><img src="../../../assets/instagram.png" id="instagram"></a>
    <a href="https://github.com/maurohv87"><img src="../../../assets/github.png" id="github"></a>
    <a href="https://www.facebook.com/mauro.valicente1"><img src="../../../assets/facebook.png" id="facebook"></a>
    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
    <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">CERRAR SESION</button>
   
</div>