.row{
    padding: 20px;
    box-shadow: 1px -2px 1px #999;

}
div{
    background-color: #cbcccb;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline;
}
 h3{
    display: inline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    position: absolute;
    width: 8%;
    left: 80%;
    top: 1300px;
    border-radius: 15%;
}



