<div class="row" id="Docencia">
    <h1>Experiencia en docencia</h1> 
    <div class="col-lg-1"></div> 
    <div class="col-lg-11">
        <ul>
           <li><h1>Profesor de música en FDA UNLP</h1> - 
            <h3>(2017-Actualidad)</h3></li>
            <p>
            Profesor de música ayudante diplomado en la cátedra Educación Auditiva de la Facultad
            de Artes UNLP desde el año 2017 hasta la actualidad
            </p>
        </ul>
        <ul>
            <li><h1>Profesor de música en colegios</h1> - 
            <h3>(2011-Actualidad)</h3></li>
            <p>
            Profesor de música en colegios de la ciudad de La Plata en niveles primario y secundario
            </p>
        </ul>
        <ul>
            <li><h1>Investigador Colaborador</h1> - 
            <h3>(2016-Actualidad)</h3></li>
            <p>
           Investigador Colaborador del Laboratorio para el Estudio de la Experiencia Musical (LEEM)
            </p>
        </ul>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" imagen1>
        <a href="https://www.youtube.com/watch?v=99-LoEkAA3w&ab_channel=AllisonBernardMemorialHighSchool"><img src="../../../assets/guitarra.png" 
                class="img-fluid" id="logo UNLP"></a> 
        <a href="https://www.youtube.com/watch?v=fZrm9h3JRGs&ab_channel=DeutscheGrammophon-DG"><img src="../../../assets/piano.png" style="left: 1200px; 
                    border-radius: 0%; box-shadow: 0px 0px 0px grey; top:1230px;"></a>
        <a href="https://www.youtube.com/watch?v=jVDofBFtvwA&ab_channel=PabloSallato"><img src="../../../assets/Viola.png" style="left: 1200px; top: 1410px; 
                                border-radius: 0%; box-shadow: 0px 0px 0px grey;"></a>
        <a href="https://www.youtube.com/watch?v=6EC2fi3SGYI&ab_channel=martyprod2"><img src="../../../assets/clave-sol.png" style="left: 100px; 
                                    width: 65px; box-shadow: 0px 0px 0px grey; top:1210px;"></a>
        <a href="https://www.youtube.com/watch?v=fZrm9h3JRGs&ab_channel=DeutscheGrammophon-DG"><img src="../../../assets/Clave-fa.png" style="left: 100px; 
                                        width: 100px; box-shadow: 0px 0px 0px grey; top:1310px;"></a>
        <a href="https://www.youtube.com/watch?v=ChuVhTcXA2c&ab_channel=Sr.Langui"><img src="../../../assets/corcheas.png" style="left: 80px; 
                                     width: 90px; box-shadow: 0px 0px 0px grey; top:1380px;"></a>
    </div>  
    </div>

<div class="row">
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2>{{Experiencia.nombreE}}</h2>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>