<section class="contact">
  <div class="u-wrapper">
    <div class="contact-content">

      <form id="form" action="" class="form">
        <div class="row" id= "Contacto" style="padding: 35px;">
          <h1>Contacto</h1>
          <label for="exampleFormControlInput1" class="form-label" style="padding: 140px; padding-bottom: 5px;padding-top: 10px;">Nombre</label>
          <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="your name" style="width: 650px; margin-left: 140px;">
      
          <label for="exampleFormControlInput1" class="form-label" style="padding: 140px; padding-bottom: 5px;padding-top: 10px;">Email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" style="width: 650px; margin-left: 140px; padding-bottom: 2px;">
        </div>
        <div class="row">
          <label for="exampleFormControlTextarea1" class="form-label" style= "padding: 170px; padding-bottom: 10px;padding-top: 5px;">Dejame tu comentario</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style= "box-shadow:none; width: 650px; margin-left: 167px; padding-top: 2px;"></textarea>
          <button type="submit" class="btn btn-primary" style="margin-left: 600px; width:150px; margin-bottom: 45px;">Submit</button>
        </div>
      
      </form>
      <a href="maurohv_87@hotmail.com" id="trucazo"></a>
    </div>
  </div>
</section>

<script>
  const $form = document.querySelector('#form')
  const $buttonMailto = document.querySelector('#trucazo')

  $form.addEventListener('submit', handleSubmit)

  function handleSubmit(event) {
    event.preventDefault()
    const form = new FormData(this)
    $buttonMailto.setAttribute('href', `maurohv_87@hotmail.com?subject=nombre ${form.get('name')}  correo ${form.get('email')}&body=${form.get('message')}`)
    $buttonMailto.click()
  }
</script>
