<div class="row" id="Proyectos">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Portfolio Web </h2>
                <p>Realización de un portfolio web aplicando conocimientos en FrontEnd: HTML, CSS, JS y en Backend: MySQL
                    en el marco del curso "Se programar" de Argentina Programa.
                </p>
             <img src="../../../assets/partitura1.png" class="img-fluid img-proyecto" alt="imagen1">
            </div>
            </div>
            
            <div class="col-sm-12 col-md-7 col-lg-7 parte3">
                <h2>App con Angular</h2>
                <p>Realización de una APP llamada "My Task List" a través del framework Angular</p>
                <img src="../../../assets/Task List.png" class="img-fluid imagen2" alt="imagen2">
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            
           
        </div>
    </div>
</div>