<div class="row" id="investigacion">
    <h1>Investigación</h1> 
    <div class="col-lg-1"></div>     
    <div class="col-lg-11">  
        <ul>
            <li><h1>Publicaciones</h1> - 
            <h3>(2007-2016)</h3></li>
            <p>
            Licenciado y Profesor en Música con Orientación en Educación Musical por la Facultad de Artes, UNLP.
        </p>
        </ul>
        <ul>
            <li><h1>Congresos</h1> - 
            <h3>(2017-Actualidad)</h3></li>
            <p>
            -Jornadas de Investigación en Artes Proyectuales (JIDAP)
            </p>
            <p>
                -International Conference on Music Perception and Cognition (ICMPC)
                </p>
            </ul>      
</div>
