<div>
  <nav class="navigation">
    <ul class="menu">
      <li><a href='#fotodeperfil'>Acerca de</a></li>
      <li><a href='#Docencia'>Docencia</a></li>
      <li><a href='#investigacion'>Investigación</a>
      <li><a href='#Formación académica'>Formación académica</a></li>
      <li><a href='#Hard & Soft Skills'>Hard & Soft Skills</a></li>
      <li><a href='#Proyectos'>Proyectos</a></li>
      <li><a href='#Contacto'>Contacto</a></li>
    </ul>
  </nav>
</div>  
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/piano1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/guitarra2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/partitura1.png" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>     
      
    